
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Areas/Admin/Views/Shared/layout.cshtml";
}

@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation/dist/additional-methods.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/localization/messages_vi.js"></script>
    @*<script src="~/app/Login/ResetPassword.js"></script>*@
    <script src="~/Admin/Login/SetPassword.js"></script>
    <script>
        var setpassword = new SetPasswordController();
        setpassword.init();
    </script>
}
<h2>Change Passsword</h2>
<form class="form-horizontal" role="form" id="frmReset">
    @Html.AntiForgeryToken()

    <div class="form-group row">
        <label for="txtNameM" class="col-sm-2 control-label no-padding-right">Username </label>
        <div class="col-sm-10">
            <label id="txtUsername">@ViewData["username"]</label>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 control-label no-padding-right">Password hiện tại</label>
        <div class="col-sm-10">
            <input type="password" name="txtOldPassword" class="form-control" id="txtOldPassword">
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 control-label no-padding-right">Password mới</label>
        <div class="col-sm-10">
            <input type="password" name="txtNewPassword" class="form-control" id="txtNewPassword">
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 control-label no-padding-right">Xác nhận Password</label>
        <div class="col-sm-10">
            <input type="password" name="txtConfirmPassword" class="form-control" id="txtConfirmPassword">
        </div>
    </div>


    <div class="form-group row">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="button" id="btnSave" class="btn btn-success submit">Thay đổi Password</button>

        </div>
    </div>
</form>



