@using WebWatchingAnime.ViewModel.ViewModel;
@model List<YearViewModel>
    <ul class="dropdown-menu header__dropdown-menu" aria-labelledby="dropdownMenuCatalog">
        @foreach (var item in Model)
        {
            <li>
                <a href="/Home/Index?Year=@item.Id" data-id="@item.Id" class="btnYear">@item.Name</a>
            </li>
        }
    </ul>